@page "/products/{Id:int}"

<h3 class="mt-2 mb-3">Product Details</h3>

<div class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center">
            @if (Product is not null)
            {
                <img src="@Product.AssociatedImage" class="img-fluid mb-4" alt="Product Image" style="max-height: 25rem;" />
                <dl class="row">
                    <dt class="col-sm-6">Name:</dt>
                    <dd class="col-sm-6">@Product.Name</dd>

                    <dt class="col-sm-6">Brand:</dt>
                    <dd class="col-sm-6">@Product.BrandName</dd>

                    <dt class="col-sm-6">Price:</dt>
                    <dd class="col-sm-6">$@Product.Price</dd>

                    <dt class="col-sm-6">Quantity In Stock:</dt>
                    <dd class="col-sm-6">@Product.QuantityInStock</dd>
                </dl>
            }
        </div>
    </div>
</div>

