<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShopApp.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <AuthorizeView Roles="Admin,User">
                <Authorized>
                    <NavLink class="nav-link" href="Profile" Match="NavLinkMatch.All">
                        <span class="bi bi-person-fill" aria-hidden="true" style="font-size: 17.6px; width: 32px;"></span> My Profile
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="identity/account/login" Match="NavLinkMatch.All">
                        <span class="bi bi-person-fill" aria-hidden="true" style="font-size: 17.6px; width: 32px;"></span> My Profile
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView Roles="Admin">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch category data
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch product data
                    </NavLink>
                </div>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
